.footer_container {
   background-color: #242424;
   padding: 80px 60px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-self: center;
}

.footer_subscription > a {
   text-decoration: none;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin-bottom: 24px;
   padding: 24px;
   color: #fff;
}

.footer_subscription > a > button {
   background: black;
   border: 1px solid;
   border-color: black;
   border-radius: 2px;
   width: 100%;
   height: 30px;
   margin-top: 10px;
   color: #fff;
   font-size: 20px;
}

.footer_wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   max-width: 1000px;
   margin: 0 auto;
}

.footer_column {
   display: flex;
   flex-direction: column;
   text-align: left;
   margin-left: 60px;
}

.footer_column a {
   color: #fff;
   text-decoration: none;
   margin-bottom: 8px;
}

.footer_column a:hover {
   color: #e9e9e9;
   transition: 0.3s ease-out;
}


.row {
   display: grid;
   grid-template-columns: repeat(auto-fill,minmax(230px, 1fr));
   grid-gap: 20px;
}

.footer_column h2 {
   margin-bottom: 16px;
}

.footer_column > h2 {
   color: #fff;
}


.underline {
   width: 90%;
   height: 0.25rem;
   background: #c59d5f;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 18px;
 }

 .footer-bottom {
   color: #fff;
   text-align: center;
   margin-top: 20px;
 }

 .footer-bottom > p {
   margin-top: 20px;
 }